<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb5e068b-fc46-4c4c-b864-92524911e0d1" Alias="test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/test</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-10T06:21:26</CreateDate>
    <NodeName Default="test" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>